* {
    box-sizing: border-box;
}
#mainHeading {
    text-align: center;
    font-family: Helvetica;
    font-size: 200%;
    padding: 60px;
}
section {
    padding: 15px;
}
div {
    background-color: gray;
    border: 1px solid black;
}
.titles {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 1px solid black;
    text-align: center;
    font-size: 175%;
    font-weight: bold;
}
#title1 {
    background-color: #cc33ff;
}
#title2{
    background-color: #ffcc00
}
#title3{
    background-color: #00cc66
}
.content {
    padding: 5px;
    background-color: gray;
    font-family: Helvetica;
    color: black;
    margin: 0px;
    padding: 45px 15px 15px 15px;
    font-size: 125%;
}

@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 50%;
    }
    .col-md-12 {
        float: left;
        width: 100%;
    }
}
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}
